.mail-filter {
  margin-block: 1em;
  gap: 2em;
}

.mail-filter .btn-toggle-menu {
  border: none;
  background-color: transparent;
  display: none;
}

.mail-filter .btn-toggle-menu::before {
  font-family: faSolid;
  content: '\f0c9';
  font-size: 1.5em;
  color: var(--main-fn-color);
}

.mail-filter form {
  flex-grow: 1;
  gap: 2em;
}

.mail-filter .filter-txt {
  flex-grow: 1;

  width: 60%;

  padding: 1em;
  border: none;
  border-radius: 2em;

  background-color: var(--clr-gray1);
  font-size: 1.5em;
}

.mail-filter .filter-txt:focus {
  outline: none;
}

.mail-filter .filter-read {
  font-size: 1.5em;
}
