.mail-preview {
  grid-template-columns: 200px 1fr 100px;
  align-items: center;

  padding: 0.5em;
  border-block-end: 1px solid var(--clr-mail-border);
  font-size: 1.4em;

  cursor: pointer;
}

.mail-preview > * {
  max-height: 20px;
}

.mail-preview .mail-content-container {
  font-family: RobotoRegular;

  line-height: 1.5;
  overflow-y: hidden;

  margin-inline-end: 3em;
  text-align: justify;
}

.mail-preview .mail-content-container .mail-subject {
  color: var(--main-fn-color);
}

.mail-preview .mail-content-container .mail-body {
  color: var(--clr-gray2);
}

.mail-preview .mail-sent-at {
  justify-self: end;
  padding-inline-end: 1em;
}

.mail-preview .btn-remove {
  border: none;

  background-color: transparent;
  font-weight: 700;
  font-size: 1em;

  opacity: 0;
}

.mail-preview:hover .btn-remove {
  opacity: 1;
}
