.mail-details {
  display: grid;
  grid-template-columns: 60px 1fr 1fr;
  grid-template-rows: repeat(3, 50px) 1fr;
  grid-template-areas:
    'image subject actions'
    'image from time'
    'image to to'
    'image body body';

  column-gap: 1em;
  align-items: end;

  background-color: var(--secondary-base);
  padding: 1.5em;
  min-height: 100dvh;
}

.mail-details .btn {
  padding: 1em;
  border: none;
  border-radius: 50%;
  margin-block-end: 1em;

  background-color: transparent;
}

.mail-details .btn:hover {
  background-color: gainsboro;
}

.mail-details .btn:active {
  scale: 0.95;
}

.mail-details .btn::before {
  font-family: faSolid;
  font-size: 1.5em;
}

.mail-details .btn-go-back::before {
  content: '\f2f6';
}

.mail-details .btn-delete::before {
  content: '\f1f8';
}

.mail-details .action-container {
  grid-area: actions;
  justify-self: end;
  align-self: start;
}

.mail-details .mail-subject {
  grid-area: subject;
  font-size: 2.5em;
}

.mail-details .user-img {
  grid-area: image;
  grid-row: 2;

  width: 60px;
  height: 60px;

  transform: translateY(50%);
}

.mail-details .mail-from {
  grid-area: from;
  margin-inline-end: 1em;

  font-size: 2.5em;
  font-family: RobotoBold, serif;
}

.mail-details .mail-to {
  grid-area: to;
  align-self: start;

  font-size: 1.5em;
  font-family: RobotoBold, serif;
  color: rgb(163, 163, 163);
}

.mail-details .mail-sent-at {
  grid-area: time;
  justify-self: center;

  font-size: 1.5em;
}

.mail-details .mail-body {
  grid-area: body;
  align-self: start;

  font-size: 2em;
}

.loading {
  font-size: 1.5em;
  margin-block-start: 1em;
}
