.mail-list {
  background-color: var(--secondary-base);
  border-block-start: 1px solid var(--clr-mail-border);
  margin-block-end: 0.5em;
}

.mail-list .mail-preview-container {
  font-family: RobotoBold, serif;
  background-color: var(--secondary-1);
}

.mail-list .mail-preview-container:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  z-index: 2;
  scale: 1.001;
}

.mail-list .mail-preview-container.read {
  font-family: RobotoRegular, serif;
  background-color: var(--secondary-base);
}

.mail-list .mail-preview-container .btn {
  justify-self: start;
  background-color: transparent;
  border: none;
}

.mail-list .mail-preview-container .btn::before {
  font-size: 1em;
}

.mail-list .mail-preview-container .btn.unstarred::before {
  font-family: faRegular;
  content: '\f005';
}

.mail-list .mail-preview-container .btn.starred::before {
  font-family: faSolid;
  content: '\f005';
  color: #ffd43b;
}

.no-mails-msg,
.unread {
  font-size: 2em;
  font-family: RobotoBold, serif;
}
