.folder-list button {
  font-family: inherit;
}

.folder-list button::before {
  font-family: faRegular;
  font-size: 1em;
  margin-inline-end: 2em;
}

.folder-list .btn-compose {
  padding: 1.5em;
  border: none;
  border-radius: 1em;
  margin-inline-start: 1em;
  margin-block: 1em 2em;

  font-size: 1.5em;
  background-color: var(--clr-blue2);
}

.folder-list .btn-compose:hover {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
  background-color: #c2e7ff;
  transition: box-shadow 0.08s linear;
}

.folder-list .folder-container {
  margin-inline-end: 3em;
}

.folder-list .folder-container .active {
  background-color: var(--clr-blue1);
  font-family: RobotoBold, serif;
}

.folder-list .folder-container > *:not(.active):hover {
  background-color: var(--clr-gray1);
}

.folder-container .btn-folder {
  text-align: start;
  padding: 0.5em;
  padding-inline-start: 3em;
  border: none;
  border-radius: 0 1.5em 1.5em 0;

  font-size: 1.4em;
  background: transparent;
}

.folder-list .btn-compose::before {
  font-family: faSolid;
  content: '\f303';
}

.folder-container .btn-inbox::before {
  font-family: faSolid;
  content: '\f01c';
}

.folder-container .btn-sent::before {
  content: '\f1d8';
}

.folder-container .btn-trash::before {
  content: '\f2ed';
}

.folder-container .btn-draft::before {
  content: '\f15b';
}
