.mail-list,
.no-mails-msg {
  height: 80dvh;
  overflow-y: scroll;
  overflow-x: hidden;

  border-block-start: 1px solid var(--clr-mail-border);
  margin-block-end: 0.5em;

  background-color: var(--secondary-base);
}

.mail-list .mail-preview-container {
  grid-template-columns: 35px 1fr;
  position: relative;
  font-family: RobotoBold, serif;
  background-color: var(--secondary-base);
  flex-grow: 1;
}

.mail-list .mail-preview-container:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  z-index: 2;
  scale: 1.001;
}

.mail-list .mail-preview-container.read {
  font-family: RobotoRegular, serif;
  background-color: var(--secondary-1);
}

.mail-list .mail-preview-container .btn {
  justify-self: center;

  padding: 0.5em;
  border: none;
  border-radius: 50%;

  background-color: transparent;
}

.mail-list .mail-preview-container .btn:hover {
  background-color: var(--clr-gray1);
}

.mail-list .mail-preview-container .btn::before {
  font-family: faSolid;
}

.mail-list .mail-preview-container .btn.unstarred::before {
  font-family: faRegular;
  content: '\f005';
}

.mail-list .mail-preview-container .btn.starred::before {
  content: '\f005';
  color: #ffd43b;
}

.mail-list .mail-preview-container .actions-container {
  position: absolute;
  inset: 50% 0.5em auto auto;

  transform: translate(100%, -50%);
  opacity: 0;
  transition: all 0.5s;
}

.mail-list .mail-preview-container:hover .actions-container {
  transform: translate(0, -50%);
  opacity: 1;
}

.mail-list .actions-container .btn-delete::before {
  content: '\f2ed';
}

.mail-list .actions-container .btn-read::before {
  content: '\f0e0';
}

.mail-list .actions-container .btn-unread::before {
  content: '\f2b6';
}

.no-mails-msg {
  font-size: 2em;
  text-align: center;
  padding-block-start: 1em;
}

.unread {
  font-size: 2em;
  font-family: RobotoBold, serif;
}
