.mail-preview {
  grid-template-columns: 50px 200px 1fr 100px;
  align-items: center;

  padding: 0.5em;
  border-block-end: 1px solid var(--clr-mail-border);

  font-size: 1.4em;
  font-family: RobotoBold, serif;
  background-color: var(--secondary-1);

  cursor: pointer;
}

.mail-preview > * {
  max-height: 20px;
}

.mail-preview .btn-star {
  background-color: transparent;
  border: none;
}

.mail-preview .btn-star::before {
  font-family: faRegular;
  content: '\f005';
  font-size: 1em;
}

.mail-preview .mail-content-container {
  font-family: RobotoRegular;

  line-height: 1.5;
  overflow-y: hidden;
}

.mail-preview .mail-content-container .mail-subject {
  color: var(--main-fn-color);
}

.mail-preview .mail-content-container .mail-body {
  color: var(--clr-gray2);
}

.mail-preview .mail-sent-at {
  justify-self: end;
  padding-inline-end: 1em;
}

.mail-preview:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  z-index: 2;
  scale: 1.001;
}

.mail-preview.read {
  font-family: RobotoRegular, serif;
  background-color: var(--secondary-base);
}

.mail-preview .btn-remove {
  border: none;

  background-color: transparent;
  font-weight: 700;
  font-size: 1em;

  opacity: 0;
}

.mail-preview:hover .btn-remove {
  opacity: 1;
}
