.mail-compose {
  position: fixed;
  inset: auto 1em 0 auto;

  background-color: var(--secondary-base);

  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);

  z-index: 10;
}

.mail-compose .new-mail-header {
  padding: 1.5em;
}

.mail-compose .new-mail-header .title {
  font-size: 2em;
}

.mail-compose .new-mail-header .btn-close {
  border: none;
  background-color: transparent;
  font-weight: 600;
}

.mail-compose form {
  padding: 1.5em;
}

.mail-compose form * {
  border: none;
}

.mail-compose form input {
  padding: 0.7em;
  border-block-end: 1px solid var(--clr-mail-border);
}

.mail-compose form *:is(input, textarea):focus {
  outline: none;
}

.mail-compose form textarea {
  margin-block-start: 1em;
}

.mail-compose .btn-submit {
  width: 100px;

  padding: 1em 2em;
  border-radius: 2em;
  margin-inline-start: auto;

  font-family: inherit;
  background-color: var(--clr-blue1);
}

.mail-compose .btn-submit:hover {
  background-color: var(--clr-blue2);
}
