.home-page {
  padding-block-start: 6em;
}

.home-page .img-logo {
  width: 530px;
}

.home-page .main-title {
  font-family: RobotoBold, serif;
  font-size: 2.5em;
  text-shadow: 0px 3px 3px #3636365c;
}

.home-page .btn-container {
  gap: 0.5em;
  margin-block-start: 8em;
}

.home-page .btn {
  width: 200px;

  padding: 0.5em 1em;
  border: 1px solid lightgray;
  border-radius: 2em;

  font-size: 2em;
}

.home-page .btn::after,
.home-page .btn::before {
  font-family: faRegular;
  font-size: 1em;
}

.home-page .btn.btn-mail {
  background-color: var(--clr-blue1);
}

.home-page .btn.btn-note {
  background-color: var(--clr-yellow1);
}

.home-page .btn.btn-mail::before {
  margin-inline-end: 0.8em;
  content: '\f0e0';
}

.home-page .btn.btn-note::after {
  margin-inline-start: 0.8em;
  content: '\f249';
}
