@media (max-width: 540px) {
  .app-header .logo {
    width: 100px;
  }

  .add-note-form input {
    width: 20em;
  }

  .sort-section {
    gap: 2em;
  }

  .sort-section > * {
    flex-grow: 1;
  }

  .mail-preview {
    grid-template-columns: 1fr 1fr;
    row-gap: 0.2em;
  }

  .mail-preview > * {
    max-height: 40px;
  }

  .mail-preview .mail-content-container {
    grid-row: 2;
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    text-align: start;

    line-height: 1.5;
  }

  .mail-preview .mail-from {
    font-family: RobotoBold;
  }

  .mail-preview .mail-sent-at {
    padding-inline-end: 1em;
  }

  .mail-list {
    height: 100dvh;
  }

  .mail-details {
    grid-template-columns: 35px 1fr 50px;
    grid-template-rows: 80px repeat(2, 50px) 1fr;
    grid-template-areas:
      'image from actions'
      'image to time'
      'subject subject subject'
      'body body body';
  }

  .mail-details .btn::before {
    font-family: faSolid;
    font-size: 1.3em;
  }

  .mail-details .user-img {
    grid-area: image;
    place-self: center;

    width: 40px;
    height: 40px;

    transform: translateY(0);
  }

  .mail-details .mail-subject {
    align-self: center;
    font-family: RobotoBold, serif;
  }

  .mail-compose {
    inset: 0;
    margin: 1em;
  }

  .mail-compose .new-mail-header .title {
    font-size: 3em;
  }

  .mail-compose .new-mail-header .btn-close {
    font-size: 2em;
  }

  .mail-compose form {
    height: 100%;
    justify-content: space-between;
  }

  .mail-compose form input {
    font-size: 2em;
  }

  .mail-compose form textarea {
    flex-grow: 1;
  }

  .mail-compose .btn-submit {
    width: 200px;
    font-size: 2em;
    font-family: RobotoBold, serif;
  }
}

@media (max-width: 750px) {
  .mail-index {
    grid-template-columns: 1fr;
  }

  .mail-index > * {
    grid-column: 2;
  }

  .mail-filter .btn-toggle-menu {
    display: block;
    margin-inline-start: 1em;
  }

  .folder-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;

    background-color: rgb(255 255 255);

    transform: translateX(-100%);
    transition: transform 0.4s, box-shadow 0.4s;
    z-index: 10;
  }

  .folder-list .btn-compose span {
    display: none;
  }

  .folder-list .btn-compose::before {
    margin-inline-end: 0;
  }

  .folder-list .folder-container .unread-count {
    margin-inline: 3em 2em;
  }

  .folder-list.menu-open {
    transform: translateX(0);
    box-shadow: -4px 0px 20px rgb(0 0 0 / 30%);
  }

  .no-mails-msg {
    width: 100vw;
  }
}
