:root {
  --main-bg-color: #f6f8fc;
  --main-fn-color: #202124;

  --secondary-1: rgb(242, 246, 252);
  --secondary-base: rgb(255, 255, 255);

  --clr-blue2: #c2e7ff;
  --clr-blue1: #a8c7fa;

  --clr-yellow1: #feefc3;

  --clr-gray2: #5f6368;
  --clr-gray1: #efeff1;
  --clr-gray-1: #aaadb0;

  --nav-home-clr: rgb(234, 134, 95);
  --nav-about-clr: rgb(80, 229, 98);
  --nav-mail-clr: rgb(37, 139, 211);
  --nav-note-clr: rgb(235, 227, 19);

  --clr-mail-border: rgba(128, 128, 128, 0.207);
}
