.add-note-form input{
    width: 20em;
}

.add-note-form{
    align-items: center;
}

.type-selector{
    padding: 2em;
    width: 20em;
}

.type-selector a{
    cursor: pointer;
}

.type-selector a:hover{
    border: 1px solid black;
}

.type-selector button{
    padding: 1em;
    background-color: transparent;
    border:none;
    transition:all .2s
}
.type-selector button:hover{
    background-color:var(--clr-yellow1);
    border-radius: 1em;
}