.note-preview {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: var(--main-bg-color);
  border-radius: 0.8em;
  transition: 0.218s;
  border: 1px solid lightgray;
}

.media {
  height: 250px;
}

.note-preview:hover {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.note-preview:hover .note-actions {
  opacity: 1;
}

.note-preview h2 {
  padding: 0.8em 1.06em 0;
}

.note-preview h2.note-content {
  height: 130px;
  overflow-y: hidden;
}

.note-info-txt {
  padding: 0.8em 1.06em;
}

.note-actions {
  padding-bottom: 1em;
  opacity: 0;
  transition: 0.28s;
}

.pin {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
.unPin {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
