.mail-index {
  display: grid;
  grid-template-columns: 256px 1fr 10px;
}

.mail-index .main-screen {
  position: fixed;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(5px);

  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.6s;
}

.mail-index .main-screen.menu-open {
  opacity: 1;
  pointer-events: auto;
}
