*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

html {
  font-family: RobotoRegular, serif;
  font-size: 0.625rem;
  color: var(--main-fn-color);
  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
  transition: all 0.3s;
}

input,
select {
  font-family: inherit;
}

textarea {
  resize: none;
  font-family: inherit;
}
