/* Setup */
@import './setup/variables.css';
@import './setup/fonts.css';

/* Basics */
@import './basics/base.css';
@import './basics/helpers.css';
@import './basics/layout.css';

/* Views */
@import './views/home.css';

/* Cmps */
@import './cmps/UserMsg.css';
@import './cmps/AppHeader.css';

/* Mail */

/* Views */
@import './apps/mail/views/MailIndex.css';

/* Cmps */
@import './apps/mail/cmps/MailList.css';
@import './apps/mail/cmps/MailPreview.css';
@import './apps/mail/cmps/MailDetails.css';
@import './apps/mail/cmps/MailFolderList.css';
@import './apps/mail/cmps/MailCompose.css';
@import './apps/mail/cmps/MailFilter.css';
@import './apps/mail/cmps/MailSort.css';

/* Note */

/* Views */
@import './apps/note/views/NoteIndex.css';

/* Cmps */
@import './apps/note/cmps/note-preview.css';
@import './apps/note/cmps/add-note.css';
@import './apps/note/cmps/color-input.css';
@import './apps/note/cmps/note-edit.css';
@import './apps/note/cmps/note-img.css';
@import './apps/note/cmps/note-video.css';
@import './apps/note/cmps/note-todos.css';
@import './apps/note/cmps/NoteList.css';

/* Media Queries */
@import './setup/mq.css';
