.app-header {
  padding: 1em;
  font-size: 1.6em;

  background: var(--main-bg-color);
  border-bottom: 1px solid var(--clr-mail-border);
  font-family: RobotoRegular, serif;
}

.app-header .logo {
  width: 130px;
}

.app-header .main-nav {
  flex-direction: row-reverse;
  gap: 1em;
}

.app-header .main-nav .btn-nav {
  background-color: transparent;
  border: none;
}

.app-header .main-nav .btn-nav::before {
  font-family: faSolid;
  font-size: 2em;
  color: var(--main-fn-color);
  transition: color 0.3s;
}

.app-header .main-nav .btn-home::before {
  content: '\f015';
}

.app-header .main-nav .btn-about::before {
  content: '\f05a';
}

.app-header .main-nav .btn-mail::before {
  content: '\f0e0';
}

.app-header .main-nav .btn-note::before {
  content: '\f249';
}

.app-header .main-nav a.active .btn-home::before,
.app-header .main-nav .btn-home:hover::before {
  color: var(--nav-home-clr);
}

.app-header .main-nav a.active .btn-about::before,
.app-header .main-nav .btn-about:hover::before {
  color: var(--nav-about-clr);
}

.app-header .main-nav a.active .btn-mail::before,
.app-header .main-nav .btn-mail:hover::before {
  color: var(--nav-mail-clr);
}

.app-header .main-nav a.active .btn-note::before,
.app-header .main-nav .btn-note:hover::before {
  color: var(--nav-note-clr);
}
